body {
  background-color: #222;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
}

#canvas {
  top: 20vh;
  left: 2.5%;
  width: 95%;
  height: 50%;
  /* margin: auto; */
  background-color: sandybrown;
  border-radius: 0.5em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

  /* border: 1px #fff solid;
   */
}
#contner {
  width: 50%;
  height: 7em;
  left: 25%;
  top: 10vh;
  color: saddlebrown;
}
.touchs {
  position: absolute;
  width: 40%;
  height: 30%;
  border-radius: 0.5em;
  background-color: #fff;
}

#t1 {
  left: 30%;
}

#t2 {
  left: 30%;
  bottom: 0%;
}

#t3 {
  left: 0%;
  top: 34%;
}
#t4 {
  right: 0%;
  top: 34%;
}
